---
import logo from 'assets/logo.svg'
---

<div class="flex items-center gap-2">
  <img src={logo.src} alt="Подрамники Минск" class="h-[42px]" />
  <span class="text-light font-bold uppercase text-[20px]"> Подрамники </span>
</div>
