<h1 class="text-4xl font-bold text-asphalt">
  <strong class="text-tree">Холсты и подрамники для</strong> картин в Минске
</h1>

<ul class="flex justify-between text-[11px]">
  <li class="">
    <span class="text-asphalt">
      изделия из<br />натуральной сосны
    </span>
  </li>
  <li
    class="flex items-center justify-center text-center border-r-2 border-l-2 border-tree px-[16px]"
  >
    <span class="text-asphalt">
      доставка<br />по Беларуси
    </span>
  </li>
  <li class="text-right">
    <span class="text-asphalt">
      качественная<br />и быстрая сборка
    </span>
  </li>
</ul>
