@import 'tailwindcss';

@theme {
  --color-brand: #556b2f;
  --color-dark-brand: #2e3a19;
  --color-light: #f5f5dc;
  --color-tree: #8b4513;
  --color-dark-tree: #723a12;
  --color-asphalt: #4e4e4e;
}
