---
import Layout from 'layouts/Layout.astro'
import Header from 'features/Header/Header.astro'
import Footer from 'features/Footer/Footer.astro'
import Preview from 'components/Preview/Preview.astro'
import AccordionCompositionComponent from 'components/Accordion/AccordionComposition.astro'
import { ACCORDION_OPTIONS } from './constants'
import ContactInfo from 'components/ContactInfo/ContactInfo.astro'
import { PhotoSliderComponent } from 'components/PhotoSliderComponent'
---

<Layout>
  <Header />

  <main
    class="h-full w-full bg-light pt-[25px] pl-[16px] pr-[16px] flex flex-col gap-[32px] flex-1 overflow-y-auto"
  >
    <Preview />

    <PhotoSliderComponent client:load />

    <div class="flex items-center justify-center">
      <p class="max-w-[360px] text-center">
        <strong class="text-tree">Подрамники Минск</strong> —— это мастерская по
        изготовлению подрамников и холстов любых размеров и форм на заказ
      </p>
    </div>

    <AccordionCompositionComponent data={ACCORDION_OPTIONS} />
  </main>
  <ContactInfo />
</Layout>

<Footer />
