---
import { WelcomeComponent } from '../components/Welcome';
---

<div id="container">
	<h1 class="text-3xl font-bold text-center text-red-500">Welcome to the PM Web Site</h1>
	<WelcomeComponent client:load/>
</div>
	
